body{
    background-color: white;
}
#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
header{
    font-size:45px;
    font: sans-serif;
}
#wrapper{
    background-color: white;
    display: flex; 
    align-items:center;
}
#profile{
    width: 250px;
    height: 250px;
    text-align: justify;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin: 20px;
    background-color: #f7f5bc;
    
}
img{
    display: block;
    margin:20px;
    width: 450px;
    height: 300px;
}
#bio h3{
    font: sans-serif;
    font-size: 25px;
}
#bio p{
    font: serif;
    font-size: 17px;
}

@media(max-width:640px){
    #wrapper{
        display: block; 
        margin-left: 0%;
        margin-right: 0%;
    }
    img{
        display: block;
        width: 50%;
        margin-left:0%;
        margin-right:0%;
    }
    #profile{
        display:block;
        width:50%;
        margin-left:0%;
        margin-right:0%;
    }
    #bio{
        width:550px;
        margin-left:0%;
        margin-right:0%;
    }
}